@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Roboto+Condensed';

/*

CURRENT COLOUR SCHEME: https://color.adobe.com/Circus-III-color-theme-36202/
#2E0927 - Purple
#D90000 - Red
#FF2D00 - Orange
#FF8C00 - Yellow
#04756F - Blue
*/

/* Start page */
#name-continue {
    margin: 0 auto;
    display: flex;
    text-align: center;
}

.enter-name {
    display: none;
    padding: 1em;
    width: 30%;
    border: solid .25em #FBFBFF;
    border-radius: 1em;
}

/* Chat */
.chat-section {
    width: 100%;
    display: none;
}

.chat-box {
    display: block;
    background-color: white;;
    height: 400px;
    border: solid .25em #FBFBFF;
    border-radius: 1em;

}

.chat-buttons {
    height: 40px;
    margin-bottom: 10px;
    color: black;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
}

.c-b {
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    display: flex;
    color: #04756F;
}

#timer {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
    font-size: 20px;
}

.chat-window {
    display: block;
    background-color: white;
    height: 330px;
    color: black;
    overflow: auto;
}

.message-list {
    list-style: none;
    overflow: auto;
    word-wrap: break-word
}

li {
    padding-bottom: 7px;
}

.user-name {
    font-size: 20px;
}

.message-text {
    padding-left: 10px;
    font-size: 20px;
}

.me {
    color: #D90000;
}

.match {
    color: #FF8C00;
}

#type-message {
    font-size: 20px;
    height: 50px;
    margin-top: 10px;
    border: solid .25em #FBFBFF;
    border-radius: 1em;
}

.typing-indicator {
    display: block;
    color: white;
    font-size: 15px;
    position: fixed;
    padding-top: 5px;
    padding-left: 10px;
}

/* Whole page */
* {
    margin: 0;
}

body {
    padding: 0;
    background-color: #2E0927;
}

.page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 980px;
    margin: 0 auto;
    font-family: "Roboto Condensed", sans-serif;
    color: #FBFBFF;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.btn {
    color: #FBFBFF;
    background-color: #FF8C00;
    border-color: #FF8C00;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn {
    color: #FBFBFF;
    background-color: #FFA727;
    border-color: #FFA727;
}

.btn:active, .btn.active, .open .dropdown-toggle.btn {
    background-image: none;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn, .btn.disabled:hover, .btn[disabled]:hover,
fieldset[disabled] .btn:hover, .btn.disabled:focus, .btn[disabled]:focus, fieldset[disabled] .btn:focus,
.btn.disabled:active, .btn[disabled]:active, fieldset[disabled] .btn:active, .btn.disabled.active,
.btn[disabled].active, fieldset[disabled] .btn.active {
    background-color: #A85C00;
    border-color: #A85C00;
}

.btn .badge {
    color: #01BAEF;
    background-color: #FBFBFF;
}

header {
    margin: 1em 0 0;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
}

h1 {
    margin: 0;
    font-weight: 700;
    font-size: 36pt;
}

h2 {
    margin: 0;
    font-weight: 300;
    font-size: 18pt;
}

footer {
    margin: 0 0 1em;
    text-align: center;
}

/* About Dialogue */
table {
    margin: 0 auto;
}

th {
    font-size: 25px;
}

td {
    padding-right: 5vw;
    font-size: 16px;
}

.modal {
    display: none;
    overflow: auto;
    z-index: 1;
    position: fixed;
    border: solid .25em #FBFBFF;
    border-radius: 1em;
    background-color: #FBFBFB;
    margin: 10% auto;
    padding: 30px;
    height: 55%;
    width: 60%;
    color: black;
}

.close {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
}