<div class="about-dialogue modal">
    <span class="close">X</span>
    <h1> Project Information </h1>
    
    <h2>Info</h2>
    
    <p> This is a unique new dating application created by Computer Science students at the University of Birmingham  </p>
    
    <h2> Team Members </h2>
    <table>
    <tr>
        <th> Front End </th>
        <th> Back End </th>
        <th> Networking </th>
        <th> Dating Psychology </th>
    
    </tr>
    <tr>
        <td> George Sabourin </td>
        <td> Sam Chatfield </td>
        <td> Aran Long </td>
        <td> George Alexander </td>
    </tr>
    <tr>
        <td> Artur Komotor </td>
        <td> Maciek Bogacki </td>
        <td> Andreas Holley </td>
        <td> Sian Gooding </td>
    </tr>
    <tr>
        <td> Oli Jukes </td>
        <td> Theo Gregory </td>
        <td> Vlad Rotea </td>
        <td> Oliver Gratton </td>
    </tr>
    <tr>
        <td> Dominic Trott </td>
        <td> Adriana Vasile </td>
        <td> Rhys Howard </td>
        <td> Lukas Povilonis </td>
    </tr>
    <tr>
        <td> Nishanth Ganatra </td>
        <td> Gwendolyn Wong </td>
        <td> Simeon Kostadinov </td>
    </tr>
    <tr>
        <td> Basil Regi </td>
        <td> Ian Temple </td>
    </tr>
    <tr>
        <td>  </td>
        <td> Charlie Street </td>
    </tr>
    <tr>
        <td>   </td>
        <td> Tom Galvin </td>
    </tr>

    </table>
    
    <h2> Source </h2>
    <p>You will be able to find the source of the project available on GitHub shortly.</p>
    
    
</div>