<div class="about-dialogue modal">
    <span id="close">X</span>
    <h1> Project Information </h1>
    
    <h2>Info</h2>
    
    <p> This is a unique new dating application created by Computer Science students at the University of Birmingham  </p>
    
    <h2> Team Members </h2>
    <table>
    <tr>
        <th> Front End </th>
        <th> Matching </th>
        <th> Networking </th>
        <th> Dating Psychology </th>
    
    </tr>
    <tr>
        <td> George Sabourin </td>
        <td> Ian Temple </td>
        <td> Aran Long </td>
        <td> Oliver Gratton </td>
    </tr>
    <tr>
        <td> Artur Komoter </td>
        <td> Maciek Bogacki </td>
        <td> Andreas Holley </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> Theo Gregory </td>
        <td> Vlad Rotea </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> Charlie Street </td>
        <td> Tom Goodman </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> Tom Galvin </td>
        <td>  </td>
    </tr>

    </table>
    
</div>