<div class="chat-section">
    <div class="chat-box">
        <div class="chat-buttons">
            <a class="" href="#" style="float:left;" id="chat-info">MATCH-NAME</a>
            <p id="timer"> Chat will last 3 minutes </p>
            <a class="c-b" href="#" style="float:right;" id="end">End Conversation</a>
        </div>

        <div class="chat-window">
            <ul class="message-list">

            </ul>
        </div>
    </div>

    <div>
        <input type="text" class="form-control" id="type-message" placeholder="Press Enter to send">
    </div>

    <div class="typing-indicator">
        Your match is typing...
    </div>
</div>