<div class="chat-section">
    <div class="chat-box">
        <div class="chat-buttons">
            <p class="chat-elem" id="match-name">MATCH-NAME</p>
            <p class="chat-elem" id="timer">3:00</p>
            <button type="submit" class="chat-elem ui-button ui-widget ui-corner-all continue-button"
                    id="end">End Conversation</button>
        </div>

        <div class="chat-window">
            <ul class="message-list">

            </ul>
        </div>
    </div>

    <div>
        <input type="text" class="form-control" id="type-message" placeholder="Press Enter to send">
    </div>
</div>