<div class="chat-section">
    <div class="chat-box">
        <div class="chat-buttons">
            <a class="c-b" href="#" style="float:left;">Chat Info</a>
            <p id="timer"> 3:00 </p>
            <a class="c-b" href="#" style="float:right;" id="end">End Conversation</a>
        </div>

        <div class="chat-window">
            <ul class="message-list">

                <li class="message" style="display: list-item;">
                            <span class="user-name match">
                                Steve
                            </span>
                    <span class="message-text">
                                Hello world
                    </span>
                </li>

            </ul>
        </div>
    </div>

    <div>
        <input type="text" class="form-control" id="type-message" placeholder="Press Enter to send">
    </div>

    <div class="typing-indicator">
        Your match is typing...
    </div>
</div>