<div class="enter-details info-entry">
    <form role="form">
        <div class="form-group">
            <label for="age">Enter your age:</label>
            <input type="number" class="form-control" id="age" min="18" max="65">

            <p style="margin: 1em auto 5px auto">Select your sex:</p>
            <input type="radio" name="gender" value="male">
            Male<br>

            <input type="radio" name="gender" value="female">
            Female<br>

            <label for="interests" style="margin: 1em auto 5px auto">Enter your interests:</label>
            <input name="tags" class="form-control" id="interests">

        </div>

        <button type="submit" class="ui-button ui-widget ui-corner-all continue-button" id="details-continue"
                title="Enter your details to continue.">Find a match</button>
    </form>
</div>