<div class="enter-details">
    <form role="form">
        <div class="form-group">
            <label for="age">Enter your age:</label>
            <input type="number" class="form-control" id="age" min="1" max="99">
        </div>
    </form>

    <form role="form">
        <div class="form-group">
            <p style="margin-bottom: 5px">Select your gender:</p>
            <input type="radio" name="gender" value="male">
            Male<br>

            <input type="radio" name="gender" value="female">
            Female<br>

            <input type="radio" name="gender" value="other">
            Other<br>

            <input type="radio" name="gender" value="none">
            Prefer Not to Say<br>

        </div>

        <button type="submit" class="btn continue-button" id="details-continue">Find a match</button>
    </form>
</div>